# Claude
.claude

# Local agent
local/*
local

# Dependencies
node_modules

# Next.js
frontend/.next
frontend/out
frontend/.env

# Express.js
server/.env

# Build
server/dist

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store


PROJECT_TASKS.md
